target/

jdroid-java/bin/
jdroid-java/target/
jdroid-java/test-output/
jdroid-java/work/
jdroid-java/.settings/org.maven.ide.eclipse.prefs

jdroid-javaweb/bin/
jdroid-javaweb/target/
jdroid-javaweb/test-output/
jdroid-javaweb/work/
jdroid-javaweb/.settings/org.maven.ide.eclipse.prefs

jdroid-android/bin/
jdroid-android/gen/
jdroid-android/target/
jdroid-android/.settings/org.maven.ide.eclipse.prefs

jdroid-android-leftnavbar/bin/
jdroid-android-leftnavbar/gen/
jdroid-android-leftnavbar/target/
jdroid-android-leftnavbar/.settings/org.maven.ide.eclipse.prefs

android-actionbarsherlock/bin/
android-actionbarsherlock/gen/
android-actionbarsherlock/target/
android-actionbarsherlock/.settings/org.maven.ide.eclipse.prefs
